name: GitHub Actions Demo
on: push
jobs:
  windows:
    name: Windows
    runs-on: windows-2019
    defaults:
      run:
        shell: cmd
    steps:
      - name: vs
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: amd64_x86
          toolset: 14.1

      - name: clone
        run: |
          git clone https://code.qt.io/qt/qt5.git qt_5_12_10
          cd qt_5_12_10
          git checkout v5.12.10
          perl init-repository
      - name: configure
        run: |
          cd qt_5_12_10
          configure.bat -prefix qt5 -debug -opensource -confirm-license -nomake tests -nomake examples
      - name: build qtbase
        run: |
          cd qt_5_12_10
          nmake module-qtbase-install_subtargets
      - name: free space
        run: |
          cd qt_5_12_10
          del /S src\*.pdb
          del /S src\*.pch
          del /S src\*.obj
      - uses: actions/upload-artifact@master
        name: Upload artifact.
        with:
          name: my-build
          path: qt5\
