name: GitHub Actions Demo
on: [push]
jobs:
  Explore-GitHub-Actions:
    runs-on: ubuntu-latest
    steps:
      - run: echo "test git"
      - name: Check out repository code
        uses: actions/checkout@v2
      - run: wget https://ftp.gnu.org/gnu/binutils/binutils-2.36.1.tar.xz
      - run: tar -xJf binutils-2.36.1.tar.xz
      - run: cd /binutils-2.36.1
      - run: ./configure --help
