name: GitHub Actions Demo
on: push
jobs:
  windows:
    name: Windows
    runs-on: windows-2019
    defaults:
      run:
        shell: cmd
    steps:
      - uses: ilammy/msvc-dev-cmd@v1
        name: VS Native Tools Command Prompt.
        with:
          arch: amd64_x86
          toolset: 16.xx

