name: GitHub Actions Demo
on: push
jobs:
  windows:
    name: Windows
    runs-on: windows-2019
    defaults:
      run:
        shell: cmd
    steps:
      - name: choco
        run: |
          choco install --no-progress -y visualstudio2017buildtools

      - name: vswhere
        run: |
          vswhere.exe -products * -latest -prerelease -property installationPath
