name: GitHub Actions Demo
on: push
jobs:
  windows:
    name: Windows
    runs-on: windows-2019
    defaults:
      run:
        shell: cmd
    steps:
      - name: vs
        uses: ilammy/msvc-dev-cmd@v2
        with:
          arch: amd64_x86
          toolset: 14.1

      - name: clone
        run: |
          git clone https://code.qt.io/qt/qt5.git qt_5_15_5
          cd qt_5_15_5
          git checkout v5.15.5-lts-lgpl
          perl init-repository
      - name: configure
        run: |
          cd qt_5_15_5
          configure.bat -prefix qt5 -debug -opensource -confirm-license -nomake tests -nomake examples
