name: GitHub Actions Demo
on: [push]
jobs:
  Explore-GitHub-Actions:
    runs-on: ubuntu-latest
    steps:
      - name: apt update
        run: |
          sudo apt-get update
          sudo apt-get install mingw-w64
      - name: build binutils
        run: |
          wget https://ftp.gnu.org/gnu/binutils/binutils-2.36.1.tar.xz
          tar -xJf binutils-2.36.1.tar.xz
          mkdir binutils-build
          cd binutils-build
          ../binutils-2.36.1/configure --target=arm-none-symbianelf --host=i686-w64-mingw32 --target=arm-none-symbianelf --prefix=/opt/symbian --disable-nls --enable-poison-system-directories
          make all
