name: GitHub Actions Demo
on: push
jobs:
  windows:
    name: Windows
    runs-on: windows-2019
    defaults:
      run:
        shell: cmd
    steps:
      - name: vs
        run: |
          "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\Common7\Tools\VsDevCmd.bat -arch=x86 -host_arch=x64 -vcvars_ver=14.1

      - name: vswhere
        run: |
          vswhere.exe -products * -latest -prerelease -property installationPath
