name: GitHub Actions Demo
on: [push]
jobs:
  linux:
    runs-on: ubuntu-latest
    env:
      GCC_VER: "11.1.0"
      BINUTILS_VER: "2.36.1"
      
    steps:
    - name: prepare directories
      run: |
        mkdir -p src
        mkdir -p libs/build
        ls
    - name: Cache downloads
      id: cache-src
      uses: actions/cache@v2.1.6
      with:
        path: src
        key: ${{ runner.OS }}-src-${{ env.GCC_VER }}-${{ env.BINUTILS_VER }}
    - name: Download
      if: steps.cache-src.outputs.cache-hit != 'true'
      run: |
        cd src
        wget --no-verbose https://gcc.gnu.org/pub/gcc/infrastructure/gmp-6.1.0.tar.bz2
        wget --no-verbose https://gcc.gnu.org/pub/gcc/infrastructure/mpfr-3.1.4.tar.bz2
        wget --no-verbose https://gcc.gnu.org/pub/gcc/infrastructure/mpc-1.0.3.tar.gz
        wget --no-verbose https://gcc.gnu.org/pub/gcc/infrastructure/isl-0.18.tar.bz2
        wget --no-verbose https://gcc.gnu.org/pub/gcc/releases/gcc-11.1.0/gcc-11.1.0.tar.xz
        wget --no-verbose https://gcc.gnu.org/pub/binutils/releases/binutils-2.36.1.tar.xz
        tar -xf gmp-6.1.0.tar.bz2
        tar -xf mpfr-3.1.4.tar.bz2
        tar -xf mpc-1.0.3.tar.gz
        tar -xf isl-0.18.tar.bz2
        tar -xf gcc-11.1.0.tar.xz
        tar -xf binutils-2.36.1.tar.xz
        
#    - name: Cache libs
#      id: cache-libs
#      uses: actions/cache@v2.1.6
#      with:
#        path: /libs
#        key: ${{ runner.OS }}-libs-${{ env.GCC_VER }}
        
    - name: prepare build
      run: |
        pwd
        ls
#        mkdir -p libs/build
        
    - name: build gmp for host
      run: |
        cd libs/build
        ${{ github.workspace }}/src/gmp-6.1.0/configure --prefix=${{ github.workspace }}/libs/host-linux/usr --disable-shared --enable-cxx
        make all
        make install
    - name: build mpfr for host
      run: |
        cd libs/build
        ${{ github.workspace }}/src/mpfr-3.1.4/configure --target=arm-none-symbianelf --prefix=${{ github.workspace }}/libs/host-linux/usr --disable-shared --with-gmp=${{ github.workspace }}/libs/host-linux/usr
        make all
        make install
    - name: build binutils for host
      run: |
        cd libs/build
        ${{ github.workspace }}/src/binutils-2.36.1/configure --target=arm-none-symbianelf --prefix=/symbian/linux --enable-poison-system-directories --with-static-standard-libraries --enable-lto --enable-gold=yes --enable-ld=yes --enable-obsolete --disable-libstdcxx 
        make all
        make install
#    - name: Upload a Build Artifact
#      uses: actions/upload-artifact@v2.2.3
#        with:
#          name: clang-win
#          path: ${{ github.workspace }}/llvm-project/build/Release
#          retention-days: 1
